body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  
}


.game {
  display: block;
  width: 200px;
  margin: 10px;
  background-color: rgb(255, 255, 255, 0.78);
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.game h2 {
  font-size: 18px;
  margin-bottom: 5px;
}


.game a {
  display: block;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  opacity: 100%;
}


.games-container {
  display: flex;
  justify-content: center;
  margin: 0 auto; 
}

.video {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  margin: auto;
  scale: 125%;
}

.sidepanel {
  height: 250px; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidepanel a:hover {
  color: #f1f1f1;
}


.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.QR {
  margin-top: 50px;
  margin-left: 30px;
  height: 25%;
  width: 75%;
}
